h1 {
	text-align:center;
	font-size:57px;
	font-style:bold;
	padding: 0px 10px 5px 10px;
}

.page-header h1 {
	 color: #337ab7;
}

.modal-header, h3 {
    background-color: #337ab7;
    color:#FFFFFF !important;
    font-size: 30px;
}

.btn-lista{
	background-color: #B78433;
	border-color: #6A4F23;
	color:#FFFFFF;
	font-size:20px;
}

.btn-lista:hover,
.btn-lista:focus {
	background-color: #6A4F23;
	border-color: #6A4F23;
	color:#FFFFFF;
}

.page-header h1 {
	 color: #337ab7;
}

.tab-content {
	padding-top:15px;
}

.btn-cadastro{
	background-color: #B78433;
	border-color: #6A4F23;
	color:#FFFFFF;
	font-size:20px;
}

.btn-voltar {
	background-color: #337AB7;
	border-color: #083D6A;
	color:#FFFFFF;
	font-size:20px;
}

.btn-voltar:hover,
.btn-voltar:focus {
	background-color: #083D6A;
	border-color: #337AB7;
	color:#FFFFFF;
}

.btn-cadastro:hover,
.btn-cadastro:focus {
	background-color: #6A4F23;
	border-color: #6A4F23;
	color:#FFFFFF;
}

.titulo {
	color: #337ab7 !important;
	font-size:18px;
	font-style: italic;
}

.descricao {
	color: #B78433 !important;
}



@media (max-width: 480px) { 
    .nav-pills > li {
        float:none;
        border:1px #ccc;
    }
}