.list-group-style
{
    border-color: #CCEAEA !important;
}

.botao-lista
{
    background-color: #009999;
    border-color: #009999;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.botao-lista:hover,
.botao-lista:focus {
    background-color: #006B6B;
    border-color: #006B6B;
    color:#FFFFFF;
}