body{
    margin-bottom:10px;
}

thead {
    background-color: #B78900;
    color:#FFFFFF;
}

td {
    background-color: #FFFFFF;
    text-align:left;
}

.page-header h1 {
    color: #000080;
}

.btn-lista {
    background-color: #B78900;
    border-color: #8B6900;
    color:#FFFFFF;
    font-size:22px;
    margin-top:5px;
}

.btn-lista:hover,
.btn-lista:focus {
    background-color: #8B6900;
    color:#FFFFFF;
}

.table-responsive {
    border:none;
}

.modal-header {
    background-color: #000080;
    color:#FFFFFF;
}

.modal-body h4 {
    color: #000080;
    font-size:20px;
    text-align:center;
}

.modal-footer .btn-lista {
    background-color: #B78900;
    border-color: #8B6900;
    color:#FFFFFF;
    font-size:15px;
}

.modal-footer .btn-lista:hover,
.modal-footer .btn-lista:focus {
    background-color: #8B6900;
    color:#FFFFFF;
}